fastapi==0.110.0
uvicorn[standard]==0.29.0
pydantic
PyYAML
SQLAlchemy
psycopg2-binary==2.9.10
passlib[bcrypt]
numpy
sentence-transformers==3.0.1
python-dotenv
langchain
openai
Flask==3.0.3
Flask-Cors==4.0.1
greenlet==3.2.3
orjson==3.10.18
orjson==3.10.18
simple-salesforce
anthropic
